<h1>This is Game Number <%= @game.id %>!</h1>
<p>Board Size = <%= @game.board_size %></p>
<p><%= link_to('Back to Home!', root_path) %></p>
<p><%= link_to('New Game!', new_game_path) %></p>
<% if @game.status == 2 %>
    <h1><%= @game.winner %> won this match!</h1>
<% elsif @game.status == 3 %>
    <h1>This match was a draw!</h1>
<% else %>
<div id="js-gamearea" data-gameid="<%= @game.id %>" data-gridsize="<%= @game.board_size %>">
    <% @game.board_size.times do |i|%>
        <div class="grid-row">
        <% @game.board_size.times do |j|%>
            <div id="<%= "block-#{i}#{j}" %>" class="js-game-block block-grid <%= "border-left" unless j == 0 %> <%= "border-top" unless i == 0 %>" data-row="<%= i %>" data-column="<%= j %>">
                <%= "<div class=\"game-element\">#{@moves["#{i}_#{j}"]}</div>".html_safe unless @moves["#{i}_#{j}"].nil?  %>
            </div>
        <% end %>
        </div>
    <% end %>
<div>
<% end %>

<div class="overlay hide"> <div id="message"></div></div>
